.sql-result-column-header {
	background-color: #c0c0c0;
}

.filename-column-header{
	background-color: #808080;
}

.sql-result {
	background-color: #ffffff;
}

.filename {
	background-color: #c0c0c0;
}